/* Grid */
*,
*:before,
*:after {
    box-sizing: border-box;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    position: relative;
    padding: 0 10px 30px;
}
@media (min-width: 768px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        float: left;
    }
    .col-1 {
        width: 8.33333333%;
    }
    .col-2 {
        width: 16.66666667%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33333333%;
    }
    .col-5 {
        width: 41.66666667%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33333333%;
    }
    .col-8 {
        width: 66.66666667%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33333333%;
    }
    .col-11 {
        width: 91.66666667%;
    }
    .col-12 {
        width: 100%;
    }
    .col-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-offset-3 {
        margin-left: 25%;
    }
    .col-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-offset-6 {
        margin-left: 50%;
    }
    .col-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-offset-9 {
        margin-left: 75%;
    }
    .col-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-offset-12 {
        margin-left: 100%;
    }
}

/* Generic */
html {
    min-height:100%;
}
body {
    color: #474747;
    text-align: left;
    min-height: 100%;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;

}
@media (min-width: 768px) {
    body {
        padding-bottom: 105px; /* For the fixed banner */
    }
}
h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 130%;
    color: #000;
}
h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    color: #000;
}
h3 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 130%;
    color: #000;
}
p {
    margin-bottom: 30px;
    text-align: justify;
    font-size: 16px;
    line-height: 120%;
}
p:last-child {
    margin-bottom: 0;
}
a,
a:visited {
    color: #474747;
    text-decoration: none;
}
a:hover {
    color: #3498db;
    text-decoration:none;
}
a:focus,
a:active {
    color: #3498db;
    text-decoration: none;
}
img{
    max-width:100%;
}
strong {
    color: #3498db;
}
.text-center {
    text-align: center;
}

/* Navigation */
nav {
    padding: 0 10px;
    background: #fff;
}
.navbar-brand {
    display: block;
    padding: 10px 0;
    font-size: 28px;
    font-weight: 700;
    color: #3498db;
    text-decoration: none;
}
nav li a {
    display: block;
    padding: 10px 0;
    font-size: 25px;
}
nav li a,
nav li a:visited {
    color: #585858;
}
nav li a:hover {
    color: #3498db;
}
@media (min-width: 768px) {
    nav {
        height: 80px;
        line-height: 80px;
    }
    .navbar-brand {
        display: inline;
        padding: 0;
        float: left;
    }
    nav ul {
        float: right;
    }
    nav li {
        float: left;
        margin-left: 20px;
    }
    nav li a {
        display: inline;
        padding: 0;
        font-size: 15px;
        font-weight: 300;
    }
}

/* Header */
header {
    position: relative;
    background: url(../img/header-bg.jpg) center center no-repeat;
    background-size: cover;
    padding: 30px 10px;
}
header p {
    text-align: center;
    font-size: 15px;
    line-height: 130%;
    color: #000;
}
@media (min-width: 768px) {
    header {
        padding: 230px 10px;
    }
}

/* Section */
section {
    padding: 30px 0;
}
@media (min-width: 768px) {
    section {
        padding: 75px 0;
    }
}


/* Pie Chart */
.pie-chart svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    vertical-align: middle;
}

.pie-chart:after {
    content: attr(data-percent) "%";
    position: absolute;
    width: 100%;
    left: 0;
    line-height: 174px;
    font-size: 3.125em;
    font-weight: 300;
    text-align: center;
}

/* Advertising */
.advertising-absolute {
    display: none;
}
.advertising-fixed {
    display: none;
}
@media (min-width: 768px) {
    .advertising-absolute {
        display: block;
        position: absolute;
        width: 728px;
        height: 90px;
        top: 15px;
        left: 50%;
        margin-left: -364px;
    }
    .advertising-fixed {
        display: block;
        position: fixed;
        z-index: 10;
        width: 728px;
        height: 90px;
        bottom: 0;
        left: 50%;
        margin-left: -364px;
    }
}